<div class="container bordeer bg-light">
  <div>
    User Name: <input type="text" [(ngModel)]="userName" />
    <button class="btn btn-primary" (click)="getGitHubUser()">Search</button>
  </div>

  <div
    *ngIf="response"
    class="card"
    style="width: 18rem; margin: 1rem; padding: 0.5rem"
  >
    <h4 class="card-header text-center text-white bg-primary">
      Github UserObj Details
    </h4>
    <div class="card-body">
      Name: {{ gituser.name }}<br />
      Login: {{ gituser.login }}<br />
      Repos: {{ gituser.public_repos }}<br />
      Started: {{ gituser.created_at }}<br />
      Location: {{ gituser.location }}
    </div>
  </div>
</div>
